 <div id="top-container" class="container-fluid">
        <h1 id="main-title" class="text-center">Find The Job You Want</h1>
       
        <p id="sub-title" class="text-center">Platform that has jobs for those who work with technology</p>

        <form id="search-form" class="form-inline" action="/" method="GET">
            <div class="form-group col-md-10">
                <input type="text" class="form-control" id="job" name="job" placeholder="Search Job">
            </div>
            <div class="col-md-2">
                <button type="submit" class="btn btn-primary">Search</button>
            </div>
        </form>
    </div>
    <main>
        <div id="jobs-container" class="container">
            <div class="row">
                <div class="col-md-12">
                    {{#if search}}
                     <h2 id="job-list-title">searching for jobs that contain: {{search}}</h2>
                    {{else}}
                    <h2 id="job-list-title">See some of our Job opening</h2>
                    {{/if}}
                    <ul id="job-list" class="list-group">
                        {{#each jobs}}
                        <li class="list-group-item {{#if dataValues.new_job }}new-job{{/if}}">
                            <img src="/img/free-find-jobs-1956265-1650428.webp" alt="Company">
                            <p>{{dataValues.company}}</p>
                            <h2>{{dataValues.title}}</h2>
                            <p>U$D{{dataValues.salary}}</p>
                            <span class="new-job-label">New</span>
                            <a class="btn btn-primary" href="/jobs/view/{{dataValues.id}}">Show Job</a>
                        </li>
                        {{/each}}
                    </ul>
                </div>
            </div>
        </div>
    </main>