<div id="job-view-container" class="container">
  <div class="row text-center">
    <a class="back-link main-color" href="/">Voltar</a>
    <div id="img-container" class="col-md-12">
      <img src="/img/Job-search-Line-Icon-Graphics-13702230-1-1-580x387.jpg" alt="Company">
    </div>
    <div class="col-md-12">
      <h1 class="main-color">{{job.dataValues.title}}</h1>
      <p class="bold">Who are we looking for for this job?:</p>
      <p class="job-desc">{{job.dataValues.description}}</p>
      <p><span class="bold">The reported salary is:</span> U$D{{job.dataValues.salary}}</p>
      <p>
        To Work in <span class="bold main-color">{{job.dataValues.company}}</span> Send an e-mail to <a class="main-color" href="mail:to{{job.dataValues.email}}">{{job.dataValues.email}}</a>
      </p>
    </div>
  </div>
</div>